body {
    margin: 0px;
    padding: 0px;
}

ul{
    position: relative;
    margin: 0px;
    padding: 0px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    padding: 15px;
    display: block;
}

ul li:hover{
    background: darkgray;
}

ul ul{
    position: absolute;
    min-width: 200px;
    display: none;
}

ul ul li{
    display: block;
}

ul li:hover ul{
    display: block;
}